* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(27, 24, 24);
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

.title {
    font-size: 45px;
    color: rgb(99, 209, 26);
}

.fa-camera-retro {
    margin-right: 5px;
}

button {
    margin: 10px 3px;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    background-color: rgb(145, 209, 49);
    border-radius: 5px;
    border-color: rgb(126, 113, 113);
}

button:hover {
    cursor: pointer;
    background-color: rgb(73, 134, 12);
    color: white;
}

.photo-area {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.photo {
    display: inline-block;
    width: 33,3%;
    height: auto;
    margin: 50px;
    border: 5px solid white;
    border-radius: 10px;
}

.photo-header {
    display: flex;
    margin: 15px;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
}

.continent {
    border-bottom: 4px solid rgb(145, 209, 49);
}

.photo-header .far {
    padding: 10px;
    font-size: 35px;
    color: rgb(145, 209, 49);
    cursor: pointer;
}

.photo-body p {
    text-align: center;
    font-size: 26px;
}

.photo-body img {
    margin-top: 15px;
    width: 100%;
    padding: 0 5px;
    height: auto;
    max-height: 300px;
}

.photo-panel {
    display: none;
    position: absolute;
    width: 700px;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
    color: rgb(15, 14, 14);
    box-shadow: 0 0 10px rgb(219, 211, 211);
    background-color: rgb(169, 211, 101);
}

.photo-panel h3 {
    margin: 20px;
    font-size: 30px;
}

.photo-panel input {
    margin: 3px 0;
    padding: 5px;
    font-size: 20px;
    width: 80%;
}

.photo-panel select {
    margin: 3px 0;
    width: 40%;
    height: 40px;
    font-size: 20px;
}

.photo-panel [type="date"] {
    width: 50%;
    font-size: 20px;
}

.photo-panel [type="file"] {
    width: 70%;
    height: 30px;
    margin: 3px auto;
    border: rgb(15, 14, 14);
}

.photo-panel .error {
    margin: 15px 0;
    font-size: 20px;
    color: rgb(226, 55, 25);
    visibility: hidden;
}

.photo-panel .photo-icons {
    margin: 10px;
}

@media (max-width: 935px) {
    .title {
        font-size: 30px;
    }

    button {
        font-size: 16px;
    }

    .photo-header {
        font-size: 20px;
    }

    .photo p {
        font-size: 22px;
    }

    .photo-panel {
        width: 80%;
    }

    .photo-panel h3 {
        font-size: 25px;
    }

    .photo-panel input {
        font-size: 17px;
    }

    .photo-panel select {
        font-size: 17px;
    }
    
    .photo-panel [type="date"] {
        font-size: 17px;
    }

}

@media (max-width: 768px) {
    header {
        display: inline;
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    header .icon {
        text-align: center;
    }

    .photo-area {
        width: 90%;
    }

    .photo-panel select {
        width: 80%;
    }

    .photo-panel [type="file"] {
        width: 80%;
        font-size: 15px;
    }
}

@media (max-width: 390px) {
    .title {
        font-size: 30px;
    }

    button {
        font-size: 16px;
    }

    .photo-header {
        font-size: 18px;
    }

    .photo {
        width: 90%;
        margin: 10px 0;
    }

    .photo p {
        font-size: 20px;
    }

    .photo-panel {
        width: 80%;
    }

    .photo-panel h3 {
        font-size: 22px;
    }

    .photo-panel input {
        font-size: 15px;
    }

    .photo-panel select {
        font-size: 15px;
        width: 80%;
    }
    
    .photo-panel [type="date"] {
        width: 80%;
        font-size: 15px;
    }

    .photo-panel [type="file"] {
        font-size: 15px;
        width: auto;
    }

    .photo-panel .error {
        font-size: 16px;
    }
}