* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(27, 24, 24);
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px 0 100px;
}

h1 {
    color: rgb(99, 209, 26);
}

button {
    margin: 5px 5px 0 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    color: black;
    background-color: rgb(145, 209, 49);
    border-radius: 5px;
}

.photo-area {
    width: 500px;
    height: 500px;
    margin: 100px 0 0 40px;
    border: 5px solid white;
    border-radius: 5px;
}

.photo-header {
    display: flex;
    margin: 15px;
    justify-content: space-between;
    align-items: center;
}

.photo-header .far {
    padding: 10px;
    font-size: 25px;
    color: rgb(145, 209, 49);
    cursor: pointer;
}

.photo-body {
    padding: 5px;
}

.photo-body p {
    text-align: center;
    font-size: 18px;
}

.photo-body img {
    width: auto;
    height: 300px;
    margin-top: 5px;
}

.photo-panel {
    position: absolute;
    width: 400px;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px white;
}

.photo-panel h3 {
    margin: 10px;
}

.photo-panel input {
    margin: 50px;
    padding: 2px;
    font-size: 16px;
}

.photo-panel input {
    width: 90%;
    margin: 0 auto;
}

.photo-panel [type="date"] {
    width: 50%;
}

.photo-panel [type="file"] {
    width: 70%;
}

.photo-panel .error {
    margin: 10px;
}

.photo-panel .photo-icons {
    margin: 10px;
}